/* --------------Variables-------------- */

:root {
    --main-color: #0B2545;
    --second-color: #8DA9C4;
    --second-text-color: #969696;
    --border-color: #ccc;
}


/* ------------------------------------ */
/* ------------Global Style------------ */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p,h3 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.heading {
    text-transform: uppercase;
    font-size: 28px;
    margin: 10px 10px 10px 0;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* ---------------------------------- */
/* --------------header-------------- */

header {
    display: flex;
    position: relative;
    background-color: var(--main-color);
    height: 180px;
    align-items: flex-end;

}
#myPicture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 30px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    /* position: relative; */
    bottom: -75px;
    border: 5px solid var(--main-color);
}
.personalDetails {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    flex: 1;
}
.personalDetails h1{
    padding: 30px;
    font-weight: 400;
    color: white;
}

.personalDetails h1 span{
    font-weight: 700;
}
.personalDetails p{
    background-color: var(--second-color);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px ;
    -webkit-border-radius: 2px ;
    -moz-border-radius: 2px ;
    -ms-border-radius: 2px ;
    -o-border-radius: 2px ;
}
.personalDetails *:not(span) {
    /* color: white; */
    padding-left: 300px;
    margin: 0;
}


@media (max-width: 768px) {
    header {
        justify-content: center;
    }
    #myPicture {
        display: none;
    
    }
    .personalDetails {
        
    }
    .personalDetails *:not(span) {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
}

/* -------------------------------- */
/* --------------main-------------- */

.mainCV {
    display: flex;
    gap: 150px;
    margin-top: 60px;
}

@media (max-width: 991px) {
    
.mainCV {
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
}

/* --------------------------------- */
/* --------------aside-------------- */

aside {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}


aside article {
    margin-bottom: 50px;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media ( max-width: 991px) {
    
    aside {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-around
    }
    aside article {
        margin-bottom: 0;
    }
    }
    @media (max-width: 767px) {
    
        aside {
            flex-direction: column;
            gap: 50px;
            justify-content: center
        }
        aside article {
            margin-bottom: 0;
        }
        }

aside article p,aside li,aside a {
    margin-bottom: 10px;
}

/* --------------Contact-------------- */

.contact div {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
    
}
.contact a{
    transition: linear 0.1s all ;
    -webkit-transition: linear 0.1s all ;
    -moz-transition: linear 0.1s all ;
    -ms-transition: linear 0.1s all ;
    -o-transition: linear 0.1s all ;
}
.contact a:hover {
    color: var(--main-color);
    font-weight: bold;
}
/* ---------------------------------- */
/* --------------Skills-------------- */

.skills >div:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}
.skills div h3 {
    margin: 20px 0;
}

.skills h3 {
    font-style: italic;
}
@media ( max-width: 991px) {
    .card:last-child {
        width: 100%;
    }
    .skills {
        display: flex;
        justify-content: space-between;
    }
    .skills >div:not(:last-child) {
        border-bottom: none;
    }
    }
    @media (max-width: 767px) {
    
        .skills {
            display: block;
        }
        .skills >div:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.33);
        }
        .heading {
            text-align: center;
        }
        }

/* ----------------------------------- */
/* ----------------------------------- */
/* --------------Section-------------- */

section {
    flex: 1;
}
section article {
    margin-bottom: 50px;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* --------------Profile-------------- */

.profile {
    line-height: 1.8;
}

/* ------------------------------------- */
/* --------------Experince-------------- */

.workExperince section {
    display: flex;
    gap: 20px;
    line-height: 1.6;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
}
.workExperince .date {
}
.workExperince .experince {
    flex: 1;
}
.experince .experinceTitle {
    font-weight: 600;
}
.experince .experinceLocation {
    color: var(--second-text-color);
}
.experince .experinceDetails {
    position: relative;
    margin-left: 10px;
}
.experince .experinceDetails::before {
    content: "-";
    position: absolute;
    left: -10px;
    
}

/* ---------------------------------- */
/* --------------Footer-------------- */

footer {
    height: 50px;
    background-color: var(--main-color);
}

/* ------------------------------------ */
